*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-width: 100vh;
    height: auto;
   
}

.container{
    width: 1070px;
    height: 500px;
    margin: auto;
    background: rgb(92, 88, 88);
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
     
}


.box{
    width: 30px;
    height: 30px;
    background:rgb(119, 119, 69);
    margin: 10px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; 
}

.box2{
    width: 30px;
    height: 30px;
    background: rgb(212, 212, 4);
    position: absolute;
    top: 0;
    left: 0;
}